version: "3.8"
services:
  db:
    image: postgres:latest
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: my_project_db
    ports:
      - "5432:5432"
    volumes:
      # Change the right side to /var/lib/postgresql
      - ./postgres_data:/var/lib/postgresql
